<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    {% if user.is_authenticated %}
        <span> {{user.email}} </span>
        <a href="{% url 'logout'%}"> Log Out </a> 
        <a href="{% url 'password_change'%}"> Change password </a> 
    {% else %}
        <a href="{% url 'login'%}"> Log In </a> 
        <a href="{% url 'signup_page'%}"> Sign Up </a> 
    {% endif %}
</header>
{% block content %}{% endblock %}

</body>
</html>
